# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.idea/
.vscode/
cmake-build-debug/

!/3rdParty/benchmark/lib/linux/debug/*
!/3rdParty/benchmark/lib/linux/release/*
!/3rdParty/benchmark/lib/windows/debug/*
!/3rdParty/benchmark/lib/windows/release/*

.vs/