language: cpp

compiler:
    - clang
    - g++
os:
    - linux

install:
    - skip

script:
    - cd ${TRAVIS_BUILD_DIR}
    - mkdir -p build
    - cd build
    - cmake ..
    - cmake --build .
    - ctest -V